<!DOCTYPE HTML>
<html>
<body>
<ul>
  {{#function}}
  <li style="color:blue; font-size:24px">{{.}}</li>
  {{/function}}
</ul>
<p>{{JSON.parse(timeAndDuration)}}</p>
<script id="template" type="x-tmpl-mustache">

</script>
</body>
</html>